{{#if theme_settings.show_home_contactus}}
<div class="section-spacing sectionLoad">
    <div class="container">
        <div class="home-contact-detail row pre-row">
            <div class="col-12 col-lg-6 col-sm-12 pre-col">
                <div class="home-contact-form">
                    <div class="top-info">
                        <h4 class="form-title">{{theme_settings.contactformtitle}}</h4>
                        <p>{{theme_settings.contactformsubtitle}}</p>
                    </div>
                    <div class="form-wrap">
                        <div class="ask-an-expert-popup">
                            <div class="ask-inner">
                                <div class="ask-body">
                                    <div class="ask-form-body">
                                        <div class="loadingOverlay">&nbsp;</div>
                                        <form data-contact-form class="ask-form" action="/pages.php?action=sendContactForm" method="post">
                
                                            <input type="hidden" name="page_id" id="page_id" value="{{theme_settings.os_ae_web_page_id}}">
                                            <input type="hidden" name="page_content" id="page_content" value="{{theme_settings.os_ae_subjext}}">

                                            <div class="form-row form-row--half">
                                                <div class="form-field">
                                                    <label class="form-label" for="contact_fullname">First Name</label>
                                                    <input class="form-input" type="text" id="contact_fullname" name="contact_fullname" value="" placeholder="First name" required />
                                                </div>

                                                <div class="form-field">
                                                    <label class="form-label" for="contact_lastname">Last name</label>
                                                    <input class="form-input" type="text" id="contact_lastname" name="contact_lastname" value="" placeholder="Last name" required />
                                                </div>
                                            </div>

                                            <div class="form-field">
                                                <label class="form-label" for="contact_email">Your Email Address</label>
                                                <input class="form-input" type="email" id="contact_email" name="contact_email" value="" placeholder="Email address" required />
                                            </div>

                                            <div class="form-field">
                                                <label class="form-label" for="contact_phone">Phone Number</label>
                                                <input class="form-input" type="text" id="contact_phone" name="contact_phone" value="" placeholder="Phone number">
                                            </div>

                                            <div class="form-field comment-area">
                                                <label class="form-label" for="contact_comment_area">Submit Message</label>
                                                <textarea name="contact_question" cols="30" rows="5" class="form-input" id="contact_comment_area" placeholder="Enter your Message" required="true" required></textarea>
                                            </div>

                                            <div class="form-field" style="display: none;">
                                                <textarea name="contact_question" id="contact_question" rows="1" cols="50" class="form-input"></textarea>
                                            </div>

                                            <div class="form-actions">
                                                <div id="rcaptcha" class="g-recaptcha" data-sitekey="6LcjX0sbAAAAACp92-MNpx66FT4pbIWh-FTDmkkz">&nbsp;</div>
                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" class="button button--primary" id="ask-an-expert-button">{{lang 'forms.contact_us.submit' }}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>


                    </div>
                    <div class="bottom-info">
                        <div class="row">
                            <div class="col-6 col-xl-6 contact-info-wrapper">
                                <div class="contact-info-item">
                                    <h4 class="d-flex contact-icon">
                                        <svg width="17px" height="16px"><use xlink:href="#contact_message"></use></svg>{{theme_settings.contact_chat_title}}</h4>
                                    <p>{{theme_settings.contact_chat_content}}</p>
                                    <p><a href="tel:{{theme_settings.contact_chat_mail}}">{{theme_settings.contact_chat_mail}}</a></p>
                                </div>
                            </div>
                            <div class="col-6 col-xl-6 contact-info-wrapper">
                                <div class="contact-info-item">
                                    <h4 class="d-flex contact-icon">
                                        <a href="https://www.decorativeceilingtiles.net/contact-us/" style="display:flex; align-items:center; color:inherit; text-decoration:none;"><svg width="16px" height="16px"><use xlink:href="#contact_call"></use></svg>{{theme_settings.contact_title}}</a></h4>
                                    <p>{{theme_settings.contact_content}}</p>
                                    <p><a href="tel:{{theme_settings.contact_number}}">{{theme_settings.contact_number}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-sm-12 pre-col">
                <div class="contact-location-map">
                    <div class="map-iframe">
                        <iframe src="{{theme_settings.map_iframe1}}{{theme_settings.map_iframe2}}{{theme_settings.map_iframe3}}{{theme_settings.map_iframe4}}{{theme_settings.map_iframe5}}{{theme_settings.map_iframe6}}" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="locationMap"></iframe>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
