{{#if theme_settings.home-logobar}}
{{#if theme_settings.theme_electronics}}
<div class="section-spacing sectionLoad">
    <div class="logobar-bg">
        <div class="full-container">
            <section class="logobarCarousel"
                    data-list-name="{{list}}"
                    data-slick='{
                        "infinite": true,
                        "mobileFirst": true,
                        "dots": false,
                        "slidesToShow": 3,
                        "slidesToScroll": 2,
                        "autoplay": true,
                        "autoplaySpeed": 1000,
                        "prevArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-prev-arrow-testi",
                        "nextArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-next-arrow-testi",
                        "responsive": [
                            {
                                "breakpoint": 1409,
                                "settings": {
                                    "slidesToShow": 7,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 1200,
                                "settings": {
                                    "slidesToShow": 5,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 991,
                                "settings": {
                                    "slidesToShow": 4,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 575,
                                "settings": {
                                    "slidesToShow": 3,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 0,
                                "settings": {
                                    "slidesToShow": 2,
                                    "slidesToScroll": 1
                                }
                            }
                        ]
                    }'
                > 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo1}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo2}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div>
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo3}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo4}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo5}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div>
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo6}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo7}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div>
                <!-- Additional Logo 8 -->
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/dakota_tin.jpg" width="106px" height="27px" alt="Dakota Tin" />
                    </div>
                </div>

                <!-- Additional Logo 9 -->
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/shanko_logo.png" width="106px" height="27px" alt="Shanko" />
                    </div>
                </div>

                <!-- Additional Logo 10 -->
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/tritan_bp_brand.png" width="106px" height="27px" alt="Tritan BP" />
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{{else}} 
 {{#if theme_settings.theme_automotive}}
<div class="section-spacing sectionLoad">
    <div class="logobar-bg">
        <div class="container">
            <section class="logobarCarousel"
                    data-list-name="{{list}}"
                    data-slick='{
                        "infinite": true,
                        "mobileFirst": true,
                        "dots": false,
                        "slidesToShow": 3,
                        "slidesToScroll": 2,
                        "autoplay": true,
                        "autoplaySpeed": 1000,
                        "prevArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-prev-arrow-testi",
                        "nextArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-next-arrow-testi",
                        "responsive": [
                            {
                                "breakpoint": 1409,
                                "settings": {
                                    "slidesToShow": 7,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 1200,
                                "settings": {
                                    "slidesToShow": 5,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 991,
                                "settings": {
                                    "slidesToShow": 4,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 575,
                                "settings": {
                                    "slidesToShow": 3,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 0,
                                "settings": {
                                    "slidesToShow": 2,
                                    "slidesToScroll": 1
                                }
                            }
                        ]
                    }'
                > 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo1}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo2}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div>
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo3}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo4}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo5}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div>
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo6}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo7}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div>
                <!-- Additional Logo 8 -->
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/dakota_tin.jpg" width="106px" height="27px" alt="Dakota Tin" />
                    </div>
                </div>

                <!-- Additional Logo 9 -->
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/shanko_logo.png" width="106px" height="27px" alt="Shanko" />
                    </div>
                </div>

                <!-- Additional Logo 10 -->
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/tritan_bp_brand.png" width="106px" height="27px" alt="Tritan BP" />
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{{else}} 
 {{#if theme_settings.theme_health}}
<div class="section-spacing sectionLoad">
    <div class="logobar-bg">
        <div class="container">
            <section class="logobarCarousel"
                    data-list-name="{{list}}"
                    data-slick='{
                        "infinite": true,
                        "mobileFirst": true,
                        "dots": false,
                        "slidesToShow": 3,
                        "slidesToScroll": 2,
                        "autoplay": true,
                        "autoplaySpeed": 1000,
                        "prevArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-prev-arrow-testi",
                        "nextArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-next-arrow-testi",
                        "responsive": [
                            {
                                "breakpoint": 1409,
                                "settings": {
                                    "slidesToShow": 5,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 1200,
                                "settings": {
                                    "slidesToShow": 4,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 991,
                                "settings": {
                                    "slidesToShow": 4,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 575,
                                "settings": {
                                    "slidesToShow": 3,
                                    "slidesToScroll": 1
                                }
                            },
                            {
                                "breakpoint": 0,
                                "settings": {
                                    "slidesToShow": 2,
                                    "slidesToScroll": 1
                                }
                            }
                        ]
                    }'
                > 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo1}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo2}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div>
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo3}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo4}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo5}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div>
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo6}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div> 
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.logo7}}" width="106px" height="27px" alt="banner"  />
                    </div>
                </div>
                 <!-- Additional Logo 8 -->
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/dakota_tin.jpg" width="106px" height="27px" alt="Dakota Tin" />
                    </div>
                </div>

                <!-- Additional Logo 9 -->
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/shanko_logo.png" width="106px" height="27px" alt="Shanko" />
                    </div>
                </div>

                <!-- Additional Logo 10 -->
                <div class="col-12 pre-col logo--item">
                    <div class="logobar-item">
                        <img class="img-fluid center-block timg lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/tritan_bp_brand.png" width="106px" height="27px" alt="Tritan BP" />
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{{/if}}
{{/if}}
{{/if}}
{{/if}}
