{{#if theme_settings.home-offer-banner}}
	<div class="section-spacing sectionLoad">
		<div class="videobanner-bg-offer {{#if theme_settings.showSecondImage }}enable_secImage{{/if}}">
			<div class="container">
				
				<div class="row pre-row">
					<div class="{{#if theme_settings.showSecondImage }}{{#if theme_settings.offerbanner-img2 }}col-12 col-md-6{{else}}col-12{{/if}}{{else}}col-12{{/if}} pre-col">
						<div class="off-img off-img-one">
							{{#if theme_settings.offerbanner-img}}
								<div class="video-img-banner">
									<a href="{{theme_settings.offerbanner-first-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-img}}" width="1920px" height="550px" alt="banner"/></a>
								</div>
							{{/if}}
							<div class="vidhover">
								<div class="video-content">
									<h1>{{theme_settings.Video-banner-content-heading}}</h1>
									<p>{{theme_settings.Video-banner-content-subheading}}</p>
								</div>
							</div>
						</div>		
					</div>
					{{#if theme_settings.showSecondImage }}
					<div class="col-12 col-md-6 pre-col webi-second-ban">
						<div class="off-img off-img-one">
							{{#if theme_settings.offerbanner-img2}}
								<div class="video-img-banner">
									<a href="{{theme_settings.offerbanner-second-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" data-src="/product_images/uploaded_images/{{theme_settings.offerbanner-img2}}" width="1920px" height="550px" alt="banner"/></a>
								</div>
							{{/if}}
							<div class="vidhover">
								<div class="video-content">
									<h1>{{theme_settings.Video-banner-content-heading1}}</h1>
									<p>{{theme_settings.Video-banner-content-subheading1}}</p>
								</div>
							</div>
						</div>		
					</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
{{/if}}
