---
category:
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{{pagination.category.previous}}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{{pagination.category.next}}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
<div class="category-breadcrumb">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <div class="container">
        
        {{#unless theme_settings.hide_category_page_heading }}
            <h1 class="page-heading text-center">{{category.name}}</h1>
        {{/unless}}
        <div class="row pre-row category-head-row">
            <div class="col-12 col-xl-2 col-lg-2 col-md-3 col-sm-4 pre-col">
            <div class="mainCategory_image">
            {{#if category.image}}
                            {{> components/common/responsive-img
                                image=category.image
                                fallback_size=theme_settings.zoom_size
                                lazyload=theme_settings.lazyload_mode
                                class="category-header-image"
                            }}
                        {{/if}}
            </div>
            </div>
            <div class="col-12 col-xl-10 col-lg-10 col-md-9 col-sm-8 pre-col">
                <div class="categoryTopContent">
                    {{{category.description}}}
                    {{#if category.subcategories}}
                        <div class="sub-cate-img row">
                            {{#each category.subcategories}} 
                                <div class="sun-cat-sin col-6 col-sm-4 col-md-4 col-lg-2">
                                    {{#if image}}
                                    <a href="{{url}}" alt="{{name}}" title="{{name}}" class="mainCategory_image">
                                        <img src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="category">
                                    </a>
                                    {{/if}}
                                    <div class="cate-sub-name text-center"><a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a></div>
                                </div>
                             {{/each}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
{{{region name="category_below_header"}}}
<div class="category-page">
    <div class="category-product-grid">
        <div class="container">
            <div class="page">
                {{#if category.faceted_search_enabled}}
                    <aside class="page-sidebar" id="faceted-search-container">
                        {{> components/category/sidebar}}
                    </aside>
                {{else if category.subcategories}}
                    <aside class="page-sidebar" id="faceted-search-container">
                        {{> components/category/sidebar}}
                    </aside>
                {{else if theme_settings.shop_by_price_visibility}}
                    <aside class="page-sidebar" id="faceted-search-container">
                        {{> components/category/sidebar}}
                    </aside>
                {{/if}}
                
                <main class="page-content" id="product-listing-container">
                    {{> components/category/product-listing}}
                </main>

                <div class="page-region">
                    {{{region name="category_below_content"}}}
                </div>
            </div>
        </div>
    </div>
</div>

{{/partial}}
{{> layout/base}}
