<div class="sliderWrap">
<section class="productCarousel productCard"
    data-list-name="{{list}}"
    data-slick='{
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 4,
        "slidesToScroll": 2,
        "slide": "[data-product-slide]",
        "prevArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-prev-arrow-featured-product",
        "nextArrow": "{{#if customArrowClass}}.{{customArrowClass}}{{/if}}.js-product-next-arrow-featured-product",
        "dots": false,
        "responsive": [
            {
                "breakpoint": 1199,
                "settings": {
                    "slidesToShow": 4,
                    "slidesToScroll": 1
                }
            },
            {
                "breakpoint": 801,
                "settings": {
                    "slidesToShow": 3,
                    "slidesToScroll": 1
                }
            },
            {
                "breakpoint": 575,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 1
                } 
            },
            {
                "breakpoint": 0,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 1
                }
            }
        ]
    }'
>
    {{#each products}}
    <div data-product-slide class="productCarousel-slide">
        {{> components/products/card show_compare=1 show_rating=../settings.show_product_rating  settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
    </div>
    {{/each}}
    {{#if products.length '>' 1}}
        {{> components/carousel-content-announcement}}
    {{/if}}


</section>
<div class="all-btn product-card-button">
    <button class="{{#if customArrowClass}}{{customArrowClass}} {{/if}}js-product-prev-arrow-featured-product slick-prev slick-arrow"><svg width="32px" height="18px"><use xlink:href="#arrow-left"></use></svg></button>

    <button class="{{#if customArrowClass}}{{customArrowClass}} {{/if}}js-product-next-arrow-featured-product slick-next slick-arrow"><svg width="32px" height="18px"><use xlink:href="#arrow-right"></use></svg></button>

</div>
</div>
