<article
    class="card card--item"
    attr-cards-ids="{{id}}"
    data-test="card-{{id}}"
    data-event-type="{{event}}"
    data-entity-id="{{id}}"
    data-position="{{position}}"
    data-name="{{name}}"
    data-product-category="
    {{#each category}}
        {{#if @last}}
            {{this}}
        {{else}}
            {{this}},
        {{/if}}
    {{/each}}"
    data-product-brand="{{brand.name}}"
    data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if price.with_tax}}
            {{price.with_tax.value}}
        {{else}}
            {{price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}"
>
    <!-- <div class="productBadges">
        {{#if theme_settings.product_sale_badges}}
            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                <div class="sale-flag-sash">
                    <span class="sale-text">{{{theme_settings.pdp_sale_badge_label}}}</span>
                </div>
            {{/or}}
            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                <div class="sale-flag-sash-percentage">
                    {{#if price.non_sale_price_with_tax}}
                        <span class="wb-sale-text">{{round (subtract 100 (multiply (divide price.with_tax.value price.non_sale_price_with_tax.value) 100)) 0}}</span><span>% off</span>
                    {{/if}}
                    {{#if price.non_sale_price_without_tax}}
                        <span class="wb-sale-text">{{round (subtract 100 (multiply (divide price.without_tax.value price.non_sale_price_without_tax.value) 100)) 0}}</span><span>% off</span>
                    {{/if}}
                </div>
            {{/or}}
        {{/if}}
        {{#if stock_level '===' 0}}
            {{#if show_cart_action}}
                {{#if theme_settings.pdp_sold_out_label '===' ''}}
                    {{> components/products/product-badge
                        badge-type='sold-out'
                        badge_view=theme_settings.product_sold_out_badges
                        badge_label=(lang "page_builder.pdp_sold_out_label")
                    }}
                {{else}}
                    {{> components/products/product-badge
                        badge-type='sold-out'
                        badge_view=theme_settings.product_sold_out_badges
                        badge_label=theme_settings.pdp_sold_out_label
                    }}
                {{/if}}
            {{/if}}
        {{else if has_options '===' false}}
            {{#and (if stock_level '===' null) show_cart_action}}
                {{#and (unless add_to_cart_url) (unless pre_order)}}
                    {{#if theme_settings.pdp_sold_out_label '===' ''}}
                        {{> components/products/product-badge
                            badge-type='sold-out'
                            badge_view=theme_settings.product_sold_out_badges
                            badge_label=(lang "page_builder.pdp_sold_out_label")
                        }}
                    {{else}}
                        {{> components/products/product-badge
                            badge-type='sold-out'
                            badge_view=theme_settings.product_sold_out_badges
                            badge_label=theme_settings.pdp_sold_out_label
                        }}
                    {{/if}}
                {{/and}}
            {{/and}}
        {{/if}}
    </div> -->
    <figure class="card-figure">

        <a href="{{url}}"
           class="card-figure__link"
           aria-label="{{> components/products/product-info}}"
           data-event-type="product-click"
        >
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
            </div>
        </a>

        <!-- <figcaption class="card-figcaption">
            <div class="card-figcaption-body">
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        <button type="button" class="button button--small card-figcaption-button quickview" data-event-type="product-click" data-product-id="{{id}}"><svg height="14px" width="20px"><use xlink:href="#quick_view"></use></svg></button>
                    {{/if}}
                {{/unless}}
                {{#if show_compare}}
                    <label class="button button--small card-figcaption-button compare-button" for="compare-{{id}}">
                        <svg height="18px" width="16px"><use xlink:href="#compare-product"></use></svg> <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    </label>
                {{/if}}
                
            </div>
        </figcaption> -->
    </figure>
    <div class="card-body">
        {{#and rating show_rating}}
            <p class="card-text" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating_target=name rating=rating}}
                </span>
            </p>
        {{/and}}
        <div class="card-detail d-flex">
            {{#if brand.name}}
                <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
            {{/if}}
            <!-- {{#if sku}}
                <p class="card-sku">SKU: {{sku}}</p>
            {{/if}} -->
        </div>
        <h3 class="card-title">
            <a aria-label="{{> components/products/product-info}}"
               href="{{url}}"
               data-event-type="product-click"
            >
                {{name}}
            </a>
        </h3>

        {{#if theme_settings.show_card_swatch}}<div class="card-product-swatch"></div>{{/if}}

        <div class="card-text card--price" data-test-info-type="price">
            {{#or customer (unless settings.hide_price_from_guests)}}
                {{> components/products/price price=price}}
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
        {{> components/products/bulk-discount-rates}}

        <!-- <div class="card-action d-flex">
            <div class="addToCart_button">
                {{#if show_cart_action}}
                    {{#if has_options}}
                        <a href="{{url}}" data-event-type="product-click" class="button button--primary button--large" data-product-id="{{id}}"><svg height="20px" width="20px"><use xlink:href="#AddToCart"></use></svg><span>{{lang 'products.choose_options'}}</span></a>
                    {{/if}}
                    {{#if pre_order}}
                        <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary button--large"><svg height="20px" width="20px"><use xlink:href="#AddToCart"></use></svg><span>{{lang 'products.pre_order'}}</span></a>
                    {{/if}}
                    {{#if add_to_cart_url }}
                        <a href="{{add_to_cart_url}}" data-event-type="product-click" data-button-type="add-cart" class="button button--primary button--large"><svg height="20px" width="20px"><use xlink:href="#AddToCart"></use></svg><span>{{lang 'products.add_to_cart'}}</span></a>
                        <span class="product-status-message aria-description--hidden">{{lang 'category.add_cart_announcement'}}</span>
                    {{/if}}
                    {{#if out_of_stock_message }}
                        <a href="{{url}}" data-event-type="product-click" class="button button--primary button--large" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                    {{/if}}
                    {{#if stock_level '===' 0}}
                        <a href="{{url}}" data-event-type="product-click" class="button button--primary button--large" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                    {{/if}}
                {{/if}}
            </div>
        </div> -->
    </div>
</article>
